*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-height: 533px;
  min-width: 1140px;
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__details {
  width: 100%;
  min-height: 533px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}

.content__list {
  overflow: auto;
  max-height: 298px;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 2px 0 4px 2px;
}

.search-form__fieldset-title {
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', Arial, sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
  align-self: start;
  justify-self: start;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: white;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link :focus{
outline: none;
}

.content__video-card-title {
  font-family: 'Oswald', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 5px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__checkbox,
.content__list-item,
.search-form__checkbox-list,
.search-form__pseudo-checkbox,
.button {
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 5px;
  margin-top: 1px;
  position: relative;
}

.button {
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  align-self: flex-end;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.search-form__textfield:active {
  border: none;
}

.search-form__textfield:focus {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  border: 1px solid #ffffff;
}

.search-form__label:has(.search-form__textfield:active) {
  border: 1px solid #ffffff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  margin-top: 1px;
  margin-left: 1px;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid #ffffff;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  border: 1px solid #ffffff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}